header{
    font-size: 30px;
}

body {
    background-color:#F8F3D9
}

.Brown{
    background-color:#EBE5C2;
    width:fit-content;
    color:#504B38;
    font-size:40px;
    
}

.h2{
    background-color:#504B38 ;
    width:fit-content;
    color:white

}


button{
    position:relative;
    left: 400px;
}

